* {
    header {
        color:white
    }
    
    ul.topnav {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #333333;
}
    background-color:black;
   body {
    color:white
   }
   
}