
 
 /*NAVBAR STYLING === */
    nav {
      background-color:silver; /* dark background */
      color: greenyellow;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 15px 200px;
      font-family: Arial, sans-serif;
       position: fixed;
  top: 0;
  width: 80%;
  z-index: 1000;  
  
    }

    nav .logo {
      font-size: 1.4em;
      font-weight: bold;
      letter-spacing: 1px;
    }

    nav ul {
      list-style: none;
      display: flex;
      gap: 25px;
      margin: 0;
      padding: 25;

    }

    nav ul li a {
      color: white;
      text-decoration: none;
      font-weight: 500;
      transition: color 1s;
    }

    nav ul li a:hover {
      color:green; /* highlight color */
    }

    /* === RESPONSIVE MENU === */
    @media (max-width: 700px) {
      nav {
        flex-direction: column;
        align-items: flex-start;
      }

      nav ul {
        flex-direction: column;
        width: 100%;
      }

      nav ul li {
        padding: 10px 0;
      }
    }

body {
    
   #home {
  background: url("hacking_gif.gif") no-repeat center center/cover;
  height: 100vh;              /* full viewport height */
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  color: white;
  text-align: center;
  
}
  #about {
height: 200vh;
display: flex;
max-width: 1200px;
width: 100%;
padding-left: 40px;



}
#about img {
  width: 300px;
  height: 410px;
  padding: 15px;
  flex-wrap: wrap;
  justify-content: center;
}



/* optional: dark overlay to make text readable */
#home .overlay {
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#projects {
      height: 50vh; 
}
}

body {

    color: greenyellow;
    background-color: grey;
    
    }

section h1 {
  background-color:#111;
  font: white;
  padding: 60px 40px;
  margin: 20px 0;
}

.section h2 {
  font-size: 0;
}

footer a{
  color: white;
  
}
footer a:hover{
  color: green;
  transition: color 1s;
  
}
   